<header>  
<div class="navbar-fixed">
  <nav>
    <div class="nav-wrapper">
      <a href="#" class="brand-logo center">Travelfix</a>
      <ul class="left hide-on-med-and-down">
        <li class="active"><a href="#">Home</a></li>
        <li class="active"><a href="#">Embassy</a></li>
        <li class="active"><a href="#">Hotel Finder</a></li>
      </ul>
    </div>
  </nav>
  </div>
</header>