  <div class="slider fullscreen">
  	<ul class="slides">
  		<li>
  			<%= cl_image_tag("l0cqahwqsuhpalsm9qyt.jpg") %>
  		</li>
  		<li>
  			<%= cl_image_tag("k7pk6kxamca5evnapnfl.jpg") %>
  		</li>
  		<li>
  			<%= cl_image_tag("avkin0ojdqhevueujvv3.jpg") %> 		
  		</li>
  	</ul>
  </div>