<%= render 'navbar' %>
<div class="row container">
	<div class="col m6 offset-m6 center">
	<ul class="collection">
	    <% @embassy_info.each do |item| %>
	   		<%= check_contact_data(item)%>
		<% end %>
	</ul>
	</div>
</div>