
<%= render 'slider' %>
<div class="valign-wrapper" id="valign-wrapper">
	<div class="valign">
	<div class="row container">
<%= render 'form_hotel' %>
<%= render 'form_embassy' %>
	</div>
	</div>
</div>
