// Place all the styles related to the embassies controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/
.header {
    color: #448aff;
    font-weight: 400;
}
.image-format {
	height: 100%;
}
// ee6e73
.css-loader {
	display: none;
}