// Place all the styles related to the embassies controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/
.header {
    color: #448aff;
    font-weight: 400;
}
.image-format {
	height: 100%;
}
.embassy-image {
	height: 100%;
	margin-left: 1vh;
}
// ee6e73
.css-loader {
	display: none;
}
.pagination a li.active {
  color: #fff;
}
#valign-wrapper {
	display: block;
    position: relative;
    z-index: 50;
    top: 28vh
}
form.card-panel {
	height: 400px;
	background: rgba(255,255,255,.8);
}

#logo {
	display: block;
	position: relative;
	z-index: 50;
	top: 1vh;
}
.submit-button {
	margin-top: 8.5vh;
}
b#price {
	color: #2e7d32;
}